-level ||= 0
%div{:style=>"margin-left:#{level*5}px"}
  %b= comment.title
  %i= "By: #{((comment.user && comment.user.login) || 'nobody')} on #{comment.created_at.strftime("%d %b %Y %I:%M%p")}"
  %br/
  %i= "Last Update: #{comment.updated_at.strftime("%d %b %Y %I:%M%p")}"
  %br/
  %div= comment.body.to_html
  -if comment.full_control_by_current_user?
    %div
      =link_to link_to 'Edit', edit_comment_path(comment)
      |
      =link_to link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete
      |
      =link_to "New Comment for #{comment.title}", new_comment_path(:parent_id => comment.id, :parent_type => "Comment")
  -unless comment.comments.empty?
    %div{:style=>'border-left:1px dotted red; padding:5px; margin-left:0px;'}
      =render :partial=> 'comments/comment', :collection => comment.comments, :locals => { :level => level + 1 }
  %hr/