-level ||= 0
-max_level ||= 5
-divider ||= 'comments/comments_divider'
-indent ||= 10
-show_children ||= true
-add_css_files 'comments'
-add_js_files 'effects', 'comment_scripts'
.comment{:id => "comment_#{comment.id}"}
  =comment.user.gravatar(:size => 60, :options => {:style=> 'float:left;margin-right:5px'})
  %div
    ="#{comment.user.login} said on #{comment.created_at.strftime("%d %b %Y %I:%M%p")}"
    %br/
    %i= "Last Updated: #{comment.updated_at.strftime("%d %b %Y %I:%M%p")}"
  -if comment.full_control_by_current_user?
    .controls
      =link_to 'Edit', edit_comment_path(comment), :class => 'edit-link'
      |
      =link_to 'Delete', delete_comment_path(comment), :class => 'delete-link'
      -if max_level > 1 && show_children
        |
        =link_to "Reply to this comment", new_comment_comment_path(comment), :class => 'comment-reply-link'
  .body
    %div
      .content{:id => "comment_body_#{comment.id}"}= liquidize_comment(comment)
      -if max_level > 1 && !comment.comments.empty? && show_children
        .children{:style=>"margin-left:#{indent}px"}= render_comments(comment, max_level - 1, level + 1, divider);