<% @page_title = @howto.title -%>
<p>By: <%= @howto.user.login %></p>
<p>
  <%= liquidize(@howto.body) %>
</p>
<%= link_to 'Edit', edit_howto_path(@howto) %> |
<%= link_to 'Back', howtos_path %>

<%= render_comments_with_form(@howto) %>
