!!!
%html
  %head
    %title Technology Help Desk
    -stylesheet_files;
    -javascript_files('layouts/javascript_file');
  %body
    #pageWrapper
      #pageTitle
        %h1 Technology Help Desk
        %h2 Coming Soon
      #sideBar
        -if logged_in?
          #gravatar= current_user.gravatar
        %ul#navigation
          %li= link_to "Home", root_path
          %li= user_auth_link
          -restrict_to "admin" do
            %li= link_to "Person Management", people_path
            %li= link_to "User Management", users_path
            %li= link_to "Role Management", roles_path
            %li= link_to "Software Management", softwares_path
      #pageContent
        #flashNotice= flash[:notice]
        =yield
      #pageFooter= ' '
